
.dropdown__text:hover {

}
.dropdown__item {
    cursos: pointer;
    max-width: 200px;
    width: 100%;
 min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    background-color: dodgerblue;
    border-radius: 20px;
    color: floralwhite;
    margin-bottom: 20px;
}
.dropdown__text {
    cursor: pointer;
}